[submodule "aw-core"]
	path = aw-core
	url = git@github.com:chenchunaidu-proximity/aw-core.git
[submodule "aw-client"]
	path = aw-client
	url = git@github.com:ActivityWatch/aw-client.git
[submodule "aw-server"]
	path = aw-server
	url = git@github.com:chenchunaidu-proximity/aw-server.git
[submodule "aw-qt"]
	path = aw-qt
	url = git@github.com:chenchunaidu-proximity/aw-qt.git
[submodule "aw-watcher-window"]
	path = aw-watcher-window
	url = git@github.com:chenchunaidu-proximity/aw-watcher-window.git
[submodule "aw-notify"]
	path = aw-notify
	url = git@github.com:chenchunaidu-proximity/aw-notify.git
[submodule "aw-notify/media"]
	url = git@github.com:chenchunaidu-proximity/media.git
[submodule "aw-qt/media"]
	url = git@github.com:chenchunaidu-proximity/media.git
